
.row {
  margin: 0;
}

body {
  $font-color: #999999;
  $padding: 0 5%;
  $border1: 1px solid #e2e2e2;
  $bg-color: #5fc0cd;
  $btn-color: #ffffff;
  margin: 110px 0 94px 0;
  color: $font-color;
  font-size: 24px;
  header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    .top1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $padding;
      height: 80px;
      background-color: $bg-color;
      .top-left {
        width: 42px;
      }
      .btn-bg {
        $bor-rad: 10px;
        border-radius: $bor-rad;
        background-color: #55a8b3;
        label {
          margin: 0;
          button {
            padding: 15px 20px;
            font-size: 24px;
            background-color: transparent;
            border: none;
            outline: none;
            border-radius: $bor-rad;
          }
          #a {
            color: $bg-color;
            background-color: $btn-color;
          }
          #b > a:link, a:visited, a:hover, a:active {
            color: $btn-color;
            text-decoration: none;
          }
        }
      }
    }
    .top2 {
      display: flex;
      justify-content: space-between;
      padding: $padding;
      background-color: #ffffff;
      border-bottom: $border1;
      select {
        flex:1;
        margin: 5px 0;
        color: $font-color;
        outline: none;
        border: none;
        text-align: justify;
        text-align-last: center;
        &:nth-last-of-type(2) {
          border-left: $border1;
          border-right: $border1;
        }
      }
    }
  }
  main {
    $border2: 2px solid #1b6d85;
    > form > ul {
      margin: 0;
      padding: 0;
      width: 100%;
      list-style: none;
      li {
        padding: $padding;
        border-bottom: $border1;
        > a {
          &:link, &:visited, &:hover, &active {
            color: $font-color;
            text-decoration: none;
          }
          > .date-salary {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          div {
            padding: 10px;
            .icon1 {
              padding-right: 5px;
            }
            .icon2 {
              padding-left: 3px;
              padding-right: 7px;
            }
            .pad-left {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              padding-left: 34px;
              color: #000000;
            }
            .text-red {
              color: red;
              white-space: nowrap;
              .right-arrow {
                display: inline-block;
                width: 15px;
                height: 15px;
                transform:rotate(45deg);
                border-top: $border2;
                border-right: $border2;
              }
            }
          }
        }
      }
    }
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    background-color: #e2e2e2;
    > div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      > div {
        text-align: center;
      }
    }
    img {
      display: block;
    }
  }
}

@media screen and (max-width:500px) {
  body {
    $padding: 0;
    margin-top: 90px;
    font-size: 16px;
    .top2, li{
      padding: $padding!important;
    }
    .top1 {
      height: 60px!important;
    }
    .top1 img {
      height: 30px;
    }
    .top1 button {
      padding: 13px 20px!important;
      font-size: 14px!important;
    }
    .right-arrow {
      width: 10px!important;
      height: 10px!important;
    }
    .icon1, .icon2 {
      height:14px;
    }
    .pad-left {
      padding-left: 23px!important;
    }
    footer {
      font-size: 16px;
      img {
        transform:scale(0.7, 0.7);
      }
    }
  }
}
