.row {
  margin: 0; }

body {
  margin-top: 134px;
  margin-bottom: 94px;
  color: #999999;
  font-size: 24px; }
  body header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999; }
    body header .top1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 5%;
      height: 90px;
      background-color: #5fc0cd; }
      body header .top1 .top-left {
        width: 42px; }
      body header .top1 .btn-bg {
        border-radius: 10px;
        background-color: #55a8b3; }
        body header .top1 .btn-bg label {
          margin: 0; }
          body header .top1 .btn-bg label button {
            padding: 10px 12px;
            color: #ffffff;
            background-color: transparent;
            border: none;
            outline: none;
            border-radius: 10px; }
            body header .top1 .btn-bg label button:hover {
              color: #5fc0cd;
              background-color: #ffffff; }
    body header .top2 {
      display: flex;
      justify-content: space-between;
      padding: 0 5%;
      background-color: #ffffff;
      border-bottom: 1px solid #e2e2e2; }
      body header .top2 select {
        flex: 1;
        margin: 5px 0;
        color: #999999;
        outline: none;
        border: none;
        text-align: justify;
        text-align-last: center; }
        body header .top2 select:nth-last-of-type(2) {
          border-left: 1px solid #e2e2e2;
          border-right: 1px solid #e2e2e2; }
  body main > form > ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none; }
    body main > form > ul li {
      padding: 0 5%;
      border-bottom: 1px solid #e2e2e2; }
      body main > form > ul li > a:link, body main > form > ul li > a:visited, body main > form > ul li > a:hover, body main > form > ul li > aactive {
        color: #999999;
        text-decoration: none; }
      body main > form > ul li > a > .date-salary {
        display: flex;
        justify-content: space-between;
        align-items: center; }
      body main > form > ul li > a div {
        padding: 10px; }
        body main > form > ul li > a div .icon1 {
          padding-right: 5px; }
        body main > form > ul li > a div .icon2 {
          padding-left: 3px;
          padding-right: 7px; }
        body main > form > ul li > a div .pad-left {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding-left: 34px;
          color: #000000; }
        body main > form > ul li > a div .text-red {
          color: red;
          white-space: nowrap; }
          body main > form > ul li > a div .text-red .right-arrow {
            display: inline-block;
            width: 15px;
            height: 15px;
            transform: rotate(45deg);
            border-top: 2px solid #1b6d85;
            border-right: 2px solid #1b6d85; }
  body footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    background-color: #e2e2e2; }
    body footer > div {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      body footer > div > div {
        text-align: center; }
    body footer img {
      display: block; }

@media screen and (max-width: 500px) {
  body {
    font-size: 16px; }
    body .top2, body li {
      padding: 0 !important; }
    body .top1 img {
      height: 30px; }
    body .right-arrow {
      width: 10px !important;
      height: 10px !important; }
    body .icon1, body .icon2 {
      height: 14px; }
    body footer {
      font-size: 16px; }
      body footer img {
        transform: scale(0.7, 0.7); } }

/*# sourceMappingURL=t12-1.css.map */
