html{font-size: 62.5%;}

body{color:white;
    background-color:#68cdd5;}

.header{margin-bottom: 50px;}

.header img{
    margin: 15px;
    height: 100px;}

.main{margin:200px 20% 200px 20%;}
.main img{
    display: block;
    height:200px;
    margin:0 auto;
}
.main p{display: block;
    font-size:4rem;}

.footer{margin:200px;}
.footer img{margin:0 auto;display: block;}
.logo_left{position: relative;right:40%;}
.logo_right{position: relative;left:40%;bottom:147px;}