body{margin:0;}

div{
  border-radius:15%;
  margin:2%;
  padding-top:29.3%;
  width:29.3%;
  background-color:orange;
}
nav{display:flex;flex-wrap:wrap;}

.bg {
  border-radius:15%;
  margin:2%;
  padding-top:29.3%;
  width:29.3%;
  background-color:orange;
}

footer {
  button {
    display: block;
    padding: 20px;
    width: 100%;
    outline: none;
    border-radius: 10px;
  }
}
.start {
  background-color: orange;
  color: white;
}

.stop {
  color: orange;
}