body {

}

.top1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10%;
    width: 100%;
    color: #26a26f;
}

.top1 p {
    margin: 0;
}

.top2 {
    padding: 0 10%;
    width: 100%;
    background-color: #29b078;
}

.space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    padding: 0 35px;
    float: left;
}

li a {
    width: 100%;
    height: 100%;
    color: white;
    line-height: 100px;
    font-size: 18px;
}

ul li a:hover {
    text-decoration: none;
}

.li-active {
    border-bottom: 3px solid white;
}

.top3 {
    width: 100%;
    padding: 20px 10% 0 10%;
    background-color: #f1a750;
}

.top3 .left {
    width: 45%;
}

.top3 .right {
    width: 50%;
}

main>p>a {
    color: #29b078;
}

#container1 {
    padding: 10px 10%;
    background-color: #fafafa;
}

#nav {
    padding: 0;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #cfcfcf;
    background-color: white;
    color: #29b078;
}

.nav-title {
    padding: 10px 0;
    margin-bottom: 10px;
    color: black;
    border-bottom: 1px solid #cfcfcf;
}

.icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    border: 1px solid #f1a750;
    color: #29b078;
}

.navi {
    margin-bottom: 20px;
}

.navi:hover .icon {
    background-color: #f1a750;
}

.col-xs-9 {
    padding: 0;
    border-radius: 5px;
    border: 1px solid #cfcfcf;
    color: #999999;
    background-color: white;
    margin-left: 30px;
    width: calc(75% - 30px);
    text-indent: 32px;
    line-height: 28px;
}

.enterprise {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 4%;
    margin: 0;
    border-bottom: 1px solid #cfcfcf;
}

.enterprise .icon1 {
    max-width: 100%;
}

.intro {
    padding: 0 4%;
}

.intro p {
    margin: 20px 0;
}


footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

footer li {
    padding: 0;
}

footer li:hover {
    border-bottom:1px solid black;
}

.footer-row1 {
    text-align: center;
    padding: 10px 10%;
    background-color: white;
}

.footer-row2 {
    text-align: center;
    padding: 0 10% 10px 10%;
    background-color: white;
}

.footer-row3 {
    margin: 0;
    margin-top: 20px;
    padding: 20px 10% 0 10%;
    color: white;
    background-color: #29b078;
}


#copyright {
    text-align: center;
    padding: 10px 0;
    color: white;
    border-top: 1px solid white;
    background-color: #29b078;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

footer p {
    margin-bottom: 30px;
}

footer .p1 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

footer .p2 {
    margin-bottom: 10px;
}

@media screen and (min-width: 769px) {
    .sign {
        display: none;
    }

    #mynavbar {
        display: none;
    }

    .footer-code {
        float: right;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .sign {
        text-align: right;
        padding: 5px 10px;
    }

    .sign a {
        color: black;
    }

    .top1 {
        display: none;
    }

    .top2 ul {
        width: 100%;
    }

    #nav {
        width:100%;
    }

    #purpose {
        margin: 20px 0;
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .enterprise {
        display: block;
    }

    #logo-left {
        width: 100%;
    }

    #text-right {
        width: 100%;
    }

    .icon1 {
        margin: 10px;
    }
}


@media screen and (min-width: 768px) {
    #mynavbar {
        width: auto;
    }

    #mynavbar > ul {
        display: flex;
        margin:0;
    }

    .top2 {
        display: flex;
        justify-content: space-between;
    }
}

#mynavbar {
    background-color: #29B078;
}

#mynavbar li {
    float: none;
    text-align: center;
    background-color: #29B078;
}

nav button img {
    background-color: #2ccf8c;
    height: 49px;
    border-radius: 5px;
}

nav button img:hover {
    background-color: rgba(0, 0, 0, 0.2);
}