body {

}

.top1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10%;
    width: 100%;
    color: #26a26f;
}

.top1 p {
    margin: 0;
}

.top2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    width: 100%;
    height: 100px;
    background-color: #29b078;
}

.top3 {
    width: 100%;
}


header ul {
    height: 100%;
    margin: 0;
    padding: 0;
}

header li {
    display: flex;
    align-items: center;
    height: 100%;
    list-style: none;
    padding: 0 35px;
    float: left;
}

header li a {
    color: white;
}

header li a:hover {
    text-decoration: none;
}

.li-active {
    border-bottom: 3px solid white;
    box-shadow: 0 1px 0 #e1e1e1;
}

#main {
    padding: 10% 10% 0 10%;
    background-color: #fafafa;
}

.point {
    text-align: center;
}

#point2 {
    padding-top: 7px;
}

#point3 {
    padding-top: 14px;
}

#point4 {
    padding: 30px 0 30px 50px;
    border-left: 1px dashed #9d9d9d;
}

#main>p {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

#main>p>a {
    color: black;
    text-decoration: none;
}

.row {
    margin: 10% 0;
}

.row2 {
    display: flex;
    align-items: center;
    padding: 0;
}

.row2 img {
    margin-right: 15px;
}

.box {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: white;
    text-align: center;
    line-height: 70px;
    color: #29b078;
    font-size: 18px;
    box-shadow: 1px 0 5px #989898;
    flex-shrink:0;
}

.how {
    margin: 0 10px;
}

.row3 {
    padding: 15px;
    text-align: center;
    width: 23%;
    background-color: white;
    box-shadow: 1px 0 5px #989898;
}

.row3-flex {
    display: flex;
    justify-content: space-between;
    margin: 10% 0;
}

.row3 .p1 {
    margin: 12px 0;
    font-weight: bold;
    font-size: 18px;
}

.row3 .p2 {
    text-align: left;
    font-size: 16px;
    color: #9d9d9d;
}

.box4 {
    display: flex;
    align-items: center;
    height: 150px;
    background-color: white;
    box-shadow: 0 0 5px;
}

.row4 {
    padding: 50px 0;
    height: 100%;
    width:20%;
    text-align: center;
    background-color: white;
}

.row4:hover {
    box-shadow: 1px 0 5px 5px #989898;
    position: relative;
}

.footer-row1 {
    text-align: center;
    padding: 10px 10%;
    background-color: white;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

footer li:hover {
    text-decoration: underline;
}

.footer-row2 {
    margin: 0;
    padding: 20px 10% 0 10%;
    color: white;
    background-color: #29b078;
}

.footer-code {
    float: right;
    text-align: center;
}

#copyright {
    text-align: center;
    padding: 10px 0;
    color: white;
    border-top: 1px solid white;
    background-color: #29b078;
}

footer p {
    margin-bottom: 30px;
}

footer .p2 {
    margin-bottom: 10px;
}
