@import "../css-reset.css";
@import "style.scss";

body {
  background-color: $bg-color;
  header {
    border-bottom: 0.5px solid #fff6e0;
    label {
      border: none;
      transform: rotate(45deg);
    }
  }

  main {
    margin-top: 50px;
    .main-box {
      position: relative;
      left: 10%;
      right: 10%;
      width: 80%;
      padding: 5px;
      background-color: #fff;
      &-title {
        position: absolute;
        left: calc(50% - 25px);
        top: -25px;
        text-align: center;
        height: 50px;
        width: 50px;
        line-height: 44px;
        font-size: 24px;
        color: #f56b81;
        background-color: #fff;
        border: 3px solid #ffedc5;
        border-radius: 50%;
      }
      &-inner {
        &-top {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-bottom: 10px;
          padding-top: 40px;
          height: 350px;
          background-color: #ffedc5;
          img {
            padding-bottom: 50px;
          }
          p {
            color: #1b6d85;
            font-size: large;
          }
        }
        &-bottom {
          padding: 10px;
          margin-top: 2px;
          height: 100px;
          color: #fca000;
          background-color: #ffedc5;
        }
      }
    }
  }
  footer {
    text-align: center;
    padding: 30px 0;
    input {
      text-align: center;
      padding: 20px 0;
      font-size: 20px;
      width: 80%;
      background-color: #eea92b;
      color: #fff;
      outline: none;
      border: none;
    }
  }
}