<meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" href="add.css">
<div class="add-box" ng-controller="addBox">
    <div class="edit" ng-model="head">
        {{ head }}
    </div>
    <div class="inner">
        <div class="type">
            类型
            <select ng-options="x for x in selectType" ng-model="type">
                <option value="">--请选择--</option>
            </select>
        </div>
        <div class="title">
            标题名称
            <input type="text" ng-model="title">
        </div>
        <div class="url">
            跳转链接
            <input type="text" ng-model="url">
        </div>
        <div class="img">
            配图
            <input type="file">
        </div>
        <div class="preview"></div>
        <table>
            <tr>
                <th>图片名</th>
                <th>文件大小</th>
                <th>进度</th>
                <th>操作</th>
                <th>操作</th>
            </tr>
            <tr>
                <td><img src=""></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button ng-click="">上传</button>
                    <button ng-click="">删除</button>
                </td>
            </tr>
        </table>
        <button ng-click="">立即上线</button>
        <button ng-click="">存为草稿</button>
        <button ng-click="">取消</button>
    </div>
</div>
