<div class="login-box" ng-controller="signin">
    <div class="box">
        <img src="images/logo.png">
        <form name = loginForm novalidate class="login-form">
            <label for="user">
                <input ng-model="uid" type="text" name="uid" id="user" placeholder="用户名" required>
                <svg class="user-icon">
                    <use xlink:href="#icon-user"></use>
                </svg>
            </label>
            <label for="pword">
                <input ng-model="pwd" type="password" name="pwd" id="pword" placeholder="密码" required>
                <svg class="password-icon">
                    <use xlink:href="#icon-lock"></use>
                </svg>
            </label>
            <!--<p ng-show="loginForm.uid.$error.required && loginForm.pwd.$dirty">请填写用户名</p>-->
            <!--<p ng-show="loginForm.pwd.$error.required && loginForm.uid.$dirty">请填写密码</p>-->
            <p ng-show="loginForm.uid.$error.required && loginForm.pwd.$error.required">请填写用户名和密码</p>
            <input ng-click="go()" type="submit" id="signin" value="登录"
                   ng-disabled="loginForm.uid.$pristine || loginForm.pwd.$pristine">
        </form>
    </div>
</div>