body {
    padding: 3.5rem 2.5rem;
    background-color: #eff0f4;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: #68cdd5;
}

p {
    margin: 0;
}

header img {
    height: 1.5rem;
}

.hid {
    width: 1.5rem;
    height: 1.5rem;
}

.theme {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 0;
    padding: 1.5rem 1rem;
    border: 1px solid #c8c9cd;
    font-size: 1.5rem;
    background-color: white;
}

.arrow {
    border-top: 0.05rem solid #68cdd5;
    border-right: 0.05rem solid #68cdd5;
    width: 1.5rem;
    height: 1.5rem;
    transform: rotate(45deg)
}

.box {
    position: relative;
    text-align: center;
    background-color: white;
    border: 1px solid #c8c9cd;
    font-size: 1.5rem;
}

.title1 {
    margin: 0;
    padding: 1rem 0;
    border-bottom: 1px solid #eea236;
    color: #eea236;
}

.type {
    margin: 1rem 1.5rem;
    padding: 2rem 0;
    color: white;
    background-color: #68cdd5;
}

.box:after {
    content: '';
    position: absolute;
    right: -0.5rem;
    top: 50%;
    border: 10px solid;
    border-color:transparent transparent transparent #eea236;
    width:0;
    height:0;
}

button {
    height: 16px;
    width: 16px;
    border: none;
    border-radius: 8px;
    background-color: #eff0f4;
    transform: scale(0.6);
    outline: none;
}

button:hover {
    background-color: #68cdd5;
}

