body {
    padding-top: 4rem;
    padding-bottom: 110px;
    background-color: #29bde0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    color: white;
    background-color: #29bde0;
    z-index: 1;
}

header img {
    height: 2rem;
}

.main-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #b9e9f5;
}

.main-top img {
    height: 3rem;
}

audio {
    position: absolute;
    right: 1rem;
    opacity: 0;
    transform: rotate(180deg);
}

.arrow {
    margin-left: 2rem;
    width: 0;
    height: 0;
    border: 0.5rem solid;
    border-color: #6ae5ed transparent transparent transparent;
}

.tips {
    margin-left: 2rem;
    color: white;
}

.box1 {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    margin-bottom: 10vw;
}

.box2 {
    border: 3px solid white;
    width: 25vw;
    height: 25vw;
}

.box2:hover .icon-box {
    visibility: visible;
}

.box3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    background-color: #f5c97b;
    font-size: 5vw;
}

.box4 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    background-color: #83b09a;
    font-size: 5vw;
    color: white;
}

.icon-box {
    display: flex;
    justify-content: space-between;
    visibility: hidden;
    padding: 1rem 0;
    margin-left: -3px;
    width: 25vw;
}

.icon-box>img {
    width: 5vw;
    height: 5vw;
    background-color: white;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 2rem 2rem;
    background-color: #29bde0;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

footer p {
    padding: 1rem 0;
    font-size: 2rem;
    color: white;
    background-color: #eea236;
}