$body-bg-color: #eff0f4;

body {
  background-color: $body-bg-color;
  font-size: 25px;
}

$bg-color: #5fc0cd;

$height: 80px;

$padding: 0 5%;

$flex-display: flex;

$center-align-items:center;

header {
  display: $flex-display;
  justify-content: space-between;
  align-items: $center-align-items;
  padding: $padding;
  height: $height;
  background-color: $bg-color;

}

$text-color: white;

header span a{
  color: $text-color;
}

header span a:hover {
  color: #000000;
  text-decoration: none;
}

$width: 100%;

$label-margin-top: 10px;

label {
  $icon-width: 80px;
  $icon-display: inline-block;
  display: $flex-display;
  align-items: $center-align-items;
  width: $width;
  margin-top: $label-margin-top;
  background-color: $text-color;
  span {
    display: $icon-display;
    text-align: center;
    width: $icon-width;
    height: 100%;
  }
  input {
    padding-left: 40px;
    width: calc(100% - 120px);
    height: $height;
    border: none;
    border-left: 1px solid $body-bg-color;
    outline: none;
  }
  input::-webkit-input-placeholder {
    color: $body-bg-color;
  }
}

button {
  margin-top: 20px;
  width: $width;
  height: $height;
  background-color: $bg-color;
  color: $text-color;
}

footer {
  padding: $padding;
  text-align: right;
}

footer a {
  color: $bg-color;
}

