@charset "UTF-8";
@import "style";
@import "card";

body {
  main {
    padding: 0 $padding-both-sides;
    background-color: #fafafa;
    z-index: 10;
    .main-position {
      padding: 30px 0;
      border-bottom: 1px solid #c7c7c7;
      a {
        color: $color-green;
      }
    }
    nav {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 30px 0;
      color: #999999;
      border-bottom: 1px solid #d4d4d4;
      a {
        padding: 3px;
        margin-left: 20px;
        color: #000000;
        &:hover {
          background-color: $color-green;
          color: #fff;
        }
      }
    }
    > h1 {
      padding: 30px 0;
      font-size: 20px;
      font-weight: bold;
      border-bottom: 1px solid #c7c7c7;
    }
    .card-box {
      margin: 30px 0;
    }
  }
}

@media screen and (max-width: 1024px){
  .card-box {
    flex-wrap: wrap;
    .card {
      width: 45%;
    }
  }
}

@media screen and (max-width: 768px){
  .card-box {
    justify-content: center;
    .card {
      width: 80%;
    }
  }
}